.tick_background {
  background-color: rgb(27, 128, 128);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.tick-mark {
  margin-top: 3px;
  margin-left: 1.5px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}
