.card {
  width: 220px;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  height: 250px;
  position: relative;
  border-radius: 30px 0 30px 0;

  .card_body {
    img {
      width: 200px;
      height: 170px;
      margin-top: 10px;
      align-self: center;
      border-radius: 30px 0 30px 0;
    }
    .card_body_titles {
      display: flex;
      justify-content: center;
      .card_body_title_name {
        display: flex;
        justify-content: center;
        h4 {
          height: 10px;
          font-weight: bold;
          z-index: 2;
        }
      }
      .card_body_title_designation {
        display: flex;
        justify-content: center;
        span {
          font-size: 12.9px;
          z-index: 2;
        }
      }
    }
  }
}

// .rotatedStyle {
//   background: #055468;
//   content: "";
//   height: 100px;
//   left: 0;
//   position: absolute;
//   margin-left: 50px;
//   margin-bottom: 100px;
//   width: 80px;
// }