.App {
  background-color: black;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separater {
  background-color: #1a7d7c;
  min-height: 150px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: white;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
  }
  p {
    color: white;
    padding-bottom: 10px;
    font-size: 40px;
  }
}
